#container{
	margin: 0 auto;
	width: 800px;
}

.login_form{
	width: 200px;
}

#tabr1 {
    background-color: bada55;
}
#app_name {
    width: 100px;
	margin: 0 auto;
}

#app_title{
	color: black;
}

h2 {
    font-family: Comic Sans MS;
}

#form_div {
margin: 0 auto;
width: 50%;
}

a{
	text-decoration: none;
}

.icons{
	height: 16px;
	width: 16px;
}


